<% if @article.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">The following errors prevented the article from being updated:</h4>
    <ul>
      <% @article.errors.full_messages.each { |errMsg| %>
        <li><%= errMsg %></li>
      <% } %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>